<div class="proposals">
    <app-profile-row class="profile-row" imgPath="{{this.imgPath}}" imgAlt="{{this.imgAlt}}" name="{{this.name}}"
                     description="{{this.description}}"></app-profile-row>

    <div class="proposals-title">
        <b>Kennst du auch?</b>
    </div>

    <div *ngFor="let n of friendsAddingService.names; let i = index">
        <app-profile-row *ngIf="name != n" [name]="n"
                         [imgPath]="friendsAddingService.images[i]"
                         [imgAlt]="friendsAddingService.imageAlts[i]"
                         [description]="friendsAddingService.descriptions[i]"
                         [followLink]="'Folgen'">
        </app-profile-row>
    </div>
</div>

