<html>
<head>
  <title>{{aboutMeTitle}}</title></head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
<body>
<div class="section">
  <div class="container">
    <div class="content-section">
      <div class="title">
        <h1>{{aboutMeTitle}}</h1>
      </div>
      <div class="content">
        <h3>{{aboutMeContentTitle}}</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
          clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
          consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <button mat-raised-button color="primary" (click)="goBack()">
          <a>Read more</a>
        </button>
      </div>
      <div class="social">
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-telegram"></i></a>
        <a href=""><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>
    <div class="image-section">
      <img src="assets/img/aboutme_image.jpg">
    </div>
  </div>
</div>

</body>
</html>
