<html>
<head>
  <title>{{ "main.aboutme.title" | translate }}</title></head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
<body>
<div class="section">
  <div class="container">
    <div class="content-section">
      <div class="title">
        <h1>{{ "main.aboutme.title" | translate }}</h1>
      </div>
      <div class="content">
        <h3>{{ "main.aboutme.content.title" | translate }}</h3>
        <p>{{ "main.aboutme.content.text" | translate }}</p>
        <button mat-raised-button color="primary" (click)="handleShowMore()">
          <a>{{ "main.aboutme.button.readmore" | translate }}</a>
        </button>
      </div>
      <div class="social">
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-telegram"></i></a>
        <a href=""><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>
    <div class="image-section">
      <img src="assets/img/aboutme_image.jpg">
    </div>
  </div>
</div>

</body>
</html>
