<!--<mat-toolbar color="primary">
  <mat-toolbar-row fixLayout="row">
    <span id="title">{{buyServiceDialogTitle}}</span>
    <span class="spacer"></span>
    <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>-->

<mat-dialog-content class="mat-typography">
  <form [formGroup]="buyForm" id="buyForm">
    <div fxFlex fxLayout="column">
      <div fxLayout="row wrap">
        <mat-form-field appearance="standard" fxFlex id="bestseller">
          <mat-label>{{ "main.bestsellers.buydialog.label" | translate }}</mat-label>
          <input matInput formControlName="bestseller" required readonly>
          <mat-error *ngIf="buyForm.controls.bestseller.touched && buyForm.controls.bestseller.invalid">
            <span
              *ngIf="buyForm.controls.bestseller.errors.required">{{ "main.messages.errors.mandatory" | translate }}</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div #paymentRef></div>
  <!--  <button mat-raised-button color="primary" type="submit" (click)="handleBuy()">
      <mat-icon>monetization_on</mat-icon>
      {{ "main.bestsellers.buydialog.button.submit" | translate }}
    </button>-->
  <button mat-raised-button color="warn" mat-dialog-close>
    <mat-icon>cancel</mat-icon>
    {{ "main.messages.buttons.cancel" | translate }}
  </button>
</mat-dialog-actions>
