<mat-toolbar style="margin-bottom: 20px">
    <mat-toolbar-row fixLayout="row">
        <span>{{ "main.messages.buttons.buy" | translate }} {{documentName}}</span>
    </mat-toolbar-row>
</mat-toolbar>
<hr>

<mat-dialog-content class="mat-typography">
    <p>{{documentDescription}}</p>
</mat-dialog-content>
<hr>

<mat-dialog-actions align="end">

    <div fxFlex fxLayout="column">
        <div fxLayout="row wrap">
            <div #paymentRef></div>
        </div>
        <div fxLayout="row wrap">
            <span class="spacer"></span>
            <button mat-raised-button color="warn" mat-dialog-close>
                <mat-icon>cancel</mat-icon>
                {{ "main.messages.buttons.cancel" | translate }}
            </button>
        </div>
    </div>
</mat-dialog-actions>
