.profile-row {
  margin-right: 12px;
  margin-bottom: 20px;
  vertical-align: top;
  display: inline-block;
  text-align: center;

  img {
    object-position: left;
    object-fit: cover;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    /*margin-right: 16px;
    display: flex;
    align-items: center;*/
  }

  .name {
    display: block;
  }

  .description {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
  }

  .profile-info {
    width: 100px;
  }

  a {
    font-size: 12px;
    color: #1976d2;
  }

}
