<div style="margin-top: 20px;">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">{{ "main.bestsellers.title" | translate }}</h2>
    </div>
    <ul class="timeline">
      <li><a target="_blank" (click)="handleShowBuyForm('main.bestsellers.bestseller1.title')">
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                                         alt="..."/></div>
      </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>{{ "main.bestsellers.bestseller1.title" | translate }}</h4>
          </div>
          <div class="timeline-body">
            <div class="text-muted" [innerHTML]="'main.bestsellers.bestseller1.description' | translate"></div>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <a target="_blank" (click)="handleShowBuyForm('main.bestsellers.bestseller2.title')">
          <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                                           alt="..."/></div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>{{ "main.bestsellers.bestseller2.title" | translate }}</h4>
          </div>
          <div class="timeline-body">
            <div class="text-muted" [innerHTML]="'main.bestsellers.bestseller2.description' | translate"></div>
          </div>
        </div>
      </li>
      <li>
        <a target="_blank" (click)="handleShowBuyForm('main.bestsellers.bestseller3.title')">
          <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                                           alt="..."/></div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>{{ "main.bestsellers.bestseller3.title" | translate }}</h4>
          </div>
          <div class="timeline-body">
            <div class="text-muted" [innerHTML]="'main.bestsellers.bestseller3.description' | translate"></div>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Be Part
            <br/>
            Of Our
            <br/>
            Journey!
          </h4>
        </div>
      </li>
    </ul>
  </div>
</div>
