.container {
  margin-right: 48px;
  display:inline-block;
  vertical-align: top;

}

.flexrow {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-right: 200px;
  padding-left: 200px;
}
