<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>

<div class="payment-approved-img">
  <img src="assets/img/payment-protection.png" alt="...">
</div>

<div class="container">
  <mat-toolbar style="margin-bottom: 20px">
    <mat-toolbar-row style="display: grid">
      <div class="text-center">{{ "confirmPayment.title" | translate }}</div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-dialog-content class="mat-typography">
    <mat-card>
      <b><span>Order details</span></b>
      <form [formGroup]="orderForm">
        <div fxFlex fxLayout="column">
          <div fxLayout="row wrap">
            <mat-form-field appearance="standard" fxFlex id="transactionId" class="readonly">
              <mat-label>Transaction-ID</mat-label>
              <input matInput formControlName="transactionId" required readonly>
              <mat-error *ngIf="orderForm.controls.transactionId.touched && orderForm.controls.transactionId.invalid">
                <span *ngIf="orderForm.controls.transactionId.errors.required">This field is mandatory!</span>
                <span *ngIf="orderForm.controls.transactionId.errors.pattern">This field is invalid!</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap">
            <mat-form-field appearance="standard" fxFlex id="dokumentName" class="readonly">
              <mat-label>Dokument</mat-label>
              <input matInput formControlName="dokumentName" required readonly>
              <mat-error *ngIf="orderForm.controls.dokumentName.touched && orderForm.controls.dokumentName.invalid">
                <span *ngIf="orderForm.controls.dokumentName.errors.required">This field is mandatory!</span>
                <span *ngIf="orderForm.controls.dokumentName.errors.pattern">This field is invalid!</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap">
            <mat-form-field appearance="standard" fxFlex id="price" class="readonly">
              <mat-label>Price</mat-label>
              <input matInput formControlName="price" required readonly>
              <mat-error *ngIf="orderForm.controls.price.touched && orderForm.controls.price.invalid">
                <span *ngIf="orderForm.controls.price.errors.required">This field is mandatory!</span>
                <span *ngIf="orderForm.controls.price.errors.pattern">This field is invalid!</span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card>
  </mat-dialog-content>

  <mat-dialog-actions align="center" style="margin-top: 20px">

    <div fxFlex fxLayout="column">
      <div fxLayout="row wrap">
        <button mat-flat-button (click)="handleDownloadBillAction()">
          <mat-icon>{{downloadBillIcon}}</mat-icon>
          {{ "main.messages.buttons.submit" | translate }}
        </button>
      </div>
      <div fxLayout="row wrap">
        <button mat-flat-button style="margin-top: 10px" (click)="handleGoToHomepageAction()">
          <mat-icon>{{mainPageIcon}}</mat-icon>
          {{ "main.messages.buttons.submit" | translate }}
        </button>
      </div>
    </div>
  </mat-dialog-actions>
</div>


