<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>

<div class="payment-approved-img">
  <img src="assets/img/payment-protection.png" alt="...">
</div>

<div class="container">
  <mat-toolbar class="margin-top-20">
    <mat-toolbar-row class="display-grid">
      <div class="text-center">{{ "confirmPayment.title" | translate }}</div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-dialog-content class="mat-typography">
    <mat-card>
      <b><span>{{ "confirmPayment.orderdetails" | translate }}</span></b>
      <form [formGroup]="orderForm">
        <div fxFlex fxLayout="column">
          <div fxLayout="row wrap">
            <mat-form-field appearance="standard" fxFlex id="transactionId" class="readonly">
              <mat-label>{{ "confirmPayment.transactionId" | translate }}</mat-label>
              <input matInput formControlName="transactionId" required readonly>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap">
            <mat-form-field appearance="standard" fxFlex id="documentName" class="readonly">
              <mat-label>{{ "confirmPayment.documentName" | translate }}</mat-label>
              <input matInput formControlName="documentName" required readonly>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap">
            <mat-form-field appearance="standard" fxFlex id="documentPrice" class="readonly">
              <mat-label>{{ "confirmPayment.documentPrice" | translate }}</mat-label>
              <input matInput formControlName="documentPrice" required readonly>
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card>
  </mat-dialog-content>

  <mat-dialog-actions align="center" class="margin-top-20">

    <div fxFlex fxLayout="column">
      <div fxLayout="row wrap">
        <button mat-flat-button (click)="handleDownloadBillAction()">
          <mat-icon>{{ downloadBillIcon }}</mat-icon>
          {{ "confirmPayment.button.download" | translate }}
        </button>
      </div>
      <div fxLayout="row wrap">
        <button mat-flat-button class="margin-top-10" (click)="handleGoToHomepageAction()">
          <mat-icon>{{ mainPageIcon }}</mat-icon>
          {{ "confirmPayment.button.home" | translate }}
        </button>
      </div>
    </div>
  </mat-dialog-actions>
</div>


