$button-color: #d0ad8a;

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}

.text-center {
  text-align: center !important;
}

section-heading {
  h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }

}

.text-uppercase {
  text-transform: uppercase !important;
}

.payment-approved-img {
  text-align: center;
  min-width: 100px;
  min-height: 100px;
}

button {
  color: white;
  background-color: $button-color;
  min-width: 25%;
}

.readonly {
  color: lightgray;
}

.display-grid {
  display: grid;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}
