<!--Title image-->
<div class="bg-image"></div>
<!--Title image-->

<!--Services-->
<app-best-seller [app-best-seller-servicePageTitle]=servicePageTitle
                 [app-best-seller-servicePageService1]=servicePageService1
                 [app-best-seller-servicePageService2]=servicePageService2
                 [app-best-seller-servicePageService3]=servicePageService3
                 [app-best-seller-servicePageService4]=servicePageService4
                 [app-best-seller-servicePageService5]=servicePageService5
                 [app-best-seller-servicePageService6]=servicePageService6
                 [app-best-seller-servicePageService7]=servicePageService7
></app-best-seller>
<!--Services-->

<!--Navigation bar-->
<div class=" wrapper sticky">
  <nav class="navbar-fixed-top">

    <a href="#" class="logo">
      <mat-icon>{{mainPageIcon}}</mat-icon>
      {{mainPageTitle}}
    </a>

    <ul>
      <li>
        <a (click)="handleGotToAboutMePage()" [routerLink]="[aboutMePath]">{{mainPageMenuAboutTextActual}}</a>
        <a (click)="handleSignUpAction()">{{mainPageMenuProjectsTextActual}}</a>
        <a (click)="handleForgotPasswordAction()">{{mainPageMenuContactTextActual}}</a>
        <a>
          <button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
            <mat-icon style="color: white">{{headerIconChangeLanguage}}</mat-icon>
          </button>
          <mat-menu #profile="matMenu" class="mymegamenu">
            <button mat-menu-item (click)="changeToGER()">
              {{mainPageMenuChangeLanguageGERTitle}}
            </button>
            <button mat-menu-item (click)="changeToRUS()">
              {{mainPageMenuChangeLanguageRUSTitle}}
            </button>
          </mat-menu>
        </a>
      </li>
    </ul>
  </nav>
</div>
<!--Navigation bar-->

<!--Footer-->
<div class="footer" id="signup">
  <h2>All right reserved @Denis Khaskin</h2>
</div>
<!--Footer-->
